.important {
	font-weight: bold;
}

.answer {
	margin: 1em;
}
.answer input {
	vertical-align: middle;
}

form.voteform .full {
	width: 100%;
}
form.voteform textarea.full {
	height: 15ex;
	font-family: Verdana;
	font-size: 10pt;
}

form.voteform td.label {
	width: 25%;
	vertical-align: top;
}

.footnote {
	font-size: 0.7em;
}
