<?php

return config_merge(require_once('config.dev.php'),array(

	'url' => 'http://localhost/projects/MttVoting/webroot/',
	'authentication_url' => 'http://www.tolkien.hu/index.php?option=com_user&view=login&return=x',
	'joomla_config_file' => '../ignored_items/joomla_configuration.php',
	
	'db' => array(
		'protocol' => 'mysql',
		'host' => 'localhost',
		'username' => 'my_username',
		'password' => 'my_password',
		'database' => 'privatevoting',
	),

));
